In [21]:
import os
import requests
import pandas as pd
import duckdb

In [30]:
#creates DB if does not exist, else use to test table names created

sql_query = '''
show tables
'''

with duckdb.connect('data/person_of_influence.db') as con:
    display(con.sql(sql_query).df())

        name
0  poi_stage

In [18]:

sql_query = '''
select * from poi_stage limit 100
'''

with duckdb.connect('data/person_of_influence.db') as con:
    display(con.sql(sql_query).df())

            name  num_cats  bst_cat_rnk     bst_cat         dt
0        50 Cent         1          141       Actor 2025-03-22
1     A$AP Rocky         1          479       Actor 2025-03-22
2    A. J. Brown         1          166         NFL 2025-03-22
3      AJ Dillon         1          281         NFL 2025-03-22
4     AJ Griffin         1          452         NBA 2025-03-22
..           ...       ...          ...         ...        ...
95     Ali Biçim         1          361  Influencer 2025-03-22
96  Ali Khamenei         1          185  Politician 2025-03-22
97    Alia Bhatt         1          432       Actor 2025-03-22
98     Alice Guo         1          151  Politician 2025-03-22
99  Alice Weidel         1          410  Politician 2025-03-22

[100 rows x 5 columns]

In [31]:
sql_query = '''
select * from poi_test
'''

with duckdb.connect('data/person_of_influence.db') as con:
    display(con.sql(sql_query).df())

CatalogException: Catalog Error: Table with name poi_test does not exist!
Did you mean "poi_stage"?

In [29]:
sql_query = '''
drop table poi_test
'''

with duckdb.connect('data/person_of_influence.db') as con:
    display(con.sql(sql_query).df())

AttributeError: 'NoneType' object has no attribute 'df'